/* Styles de base (mobile-first) */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
@media (max-width: 575px) {
.dg-l-none {
  display: flex !important;
}
.direction-column{
  flex-direction: column !important;
}
}
header {
  width: fit-content; /* Assure que le header prend toute la largeur */
}

footer {
  width: fit-content; /* Assure que le header prend toute la largeur */
  box-sizing: content-box;
}
.containerNavbar  {
flex-wrap: wrap !important;
}
.navbar-expand .navbar-nav .dropdown-menu
  {
    width: fit-content;
  }
  
main {
  padding: 1rem;
  min-height: 80vh; /* Adaptatif à la hauteur de l'écran */
}

h1 {
  font-size: 1.5rem; /* Taille plus petite pour les mobiles */
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

.filter-sidebar h2, .filter-sidebar form .form-label {
  display: block; /* Assure que chaque élément est sur une nouvelle ligne sur les petits écrans */
}

.filter-sidebar {
  background-color: #f8f9fa;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-right: none; /* Pas de bordure pour les petits écrans */
}

/* Réduit la taille de la bordure pour les petits écrans */
.filter-sidebar form .form-group {
  border-bottom: 1px solid #ddd;
}

/* Boutons */
.redButton, .addButton, .btn-favorite {
  background-color: red;
  border-color: red;
  color: white;
  width: 100%;
  margin-top: 0.5rem; /* Ajoute une marge en haut */
}

.redButton:hover, .addButton:hover, .btn-favorite:hover {
  background-color: darkred;
}

.payment-success-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.success-icon {
  font-size: 80px;
  color: green;
}

/* Media queries pour tablettes et ordinateurs de bureau */
@media (min-width: 576px) {
  .navClass {
    margin-left: auto !important;
  }
  .filter-sidebar {
    border-right: 1px solid #ddd;
    padding: 1rem;
  }
  header {
    width: 100%; /* Assure que le header prend toute la largeur */
  }
  footer {
    width: 100%; /* Assure que le header prend toute la largeur */
  }
  .navbar-expand .navbar-nav .dropdown-menu
  {
    width: 100%;
  }
  .addButton {
    float: right;
    width: auto;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .rating span, .filter-sidebar h2, .filter-sidebar form .form-label {
    display: inline-block; /* Affiche les éléments côte à côte pour les écrans plus larges */
  }
}

@media (min-width: 992px) {
  /* Styles spécifiques pour les ordinateurs de bureau */
}

@media (min-width: 1200px) {
  /* Styles pour les grands écrans, comme les moniteurs larges */
}

/* Ajustements supplémentaires au besoin pour différents composants */
